In [1]:
people = {
    "first": ["Robert", "John", "Jane"],
    "last": ["Stark", "Doe", "Doe"],
    "email": ["robstark@gmail.com", "johndoe@gmail.com", "janedoe@gmail.com"],
}


import pandas as pd

In [2]:
df = pd.DataFrame(people)

In [10]:
df.append({"first": "Tony"}, ignore_index=True) # depricated
df

C:\Users\Rafael\AppData\Local\Temp\ipykernel_11320\2410006573.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({"first": "Tony"}, ignore_index=True) # depricated

    first   last               email
0  Robert  Stark  robstark@gmail.com
1    John    Doe   johndoe@gmail.com
2    Jane    Doe   janedoe@gmail.com

In [7]:
people = {
    "first": [
        "Tony",
        "Anakin",
    ],
    "last": [
        "Windu",
        "Skywalker",
    ],
    "email": [
        "tonywind@gmail.com",
        "anakinskywalker@gmail.com",
    ],
}


df2 = pd.DataFrame(people)

In [8]:
df2

    first       last                      email
0    Tony      Windu         tonywind@gmail.com
1  Anakin  Skywalker  anakinskywalker@gmail.com

In [11]:
df = pd.concat([df, df2], ignore_index=True)

In [12]:
df

    first       last                      email
0  Robert      Stark         robstark@gmail.com
1    John        Doe          johndoe@gmail.com
2    Jane        Doe          janedoe@gmail.com
3    Tony      Windu         tonywind@gmail.com
4  Anakin  Skywalker  anakinskywalker@gmail.com

In [13]:
df.drop(index=3, inplace=True)

In [14]:
df

    first       last                      email
0  Robert      Stark         robstark@gmail.com
1    John        Doe          johndoe@gmail.com
2    Jane        Doe          janedoe@gmail.com
4  Anakin  Skywalker  anakinskywalker@gmail.com

In [15]:
filter_ = df['last'] == "Doe"
indexes = df[filter_].index
indexes

Int64Index([1, 2], dtype='int64')

In [16]:
df.drop(index=indexes)

    first       last                      email
0  Robert      Stark         robstark@gmail.com
4  Anakin  Skywalker  anakinskywalker@gmail.com