In [1]:
people = {
    "first": ["Robert", "John", "Jane"],
    "last": ["Stark", "Doe", "Doe"],
    "email": ["robstark@gmail.com", "johndoe@gmail.com", "janedoe@gmail.com"],
}

In [2]:
import pandas as pd

In [3]:
people_df = pd.DataFrame(people)

In [7]:
filter_ = people_df["last"] == "Doe"
filter_

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
people_df[filter_]

  first last              email
1  John  Doe  johndoe@gmail.com
2  Jane  Doe  janedoe@gmail.com

In [16]:
people_df[filter_].loc[1]['email']

'johndoe@gmail.com'

In [24]:
filter_ = (people_df["last"] == "Stark") | (people_df["first"] == "John")
people_df[filter_]

    first   last               email
0  Robert  Stark  robstark@gmail.com
1    John    Doe   johndoe@gmail.com

In [25]:
people_df.loc[filter_, "email"]

0    robstark@gmail.com
1     johndoe@gmail.com
Name: email, dtype: object

In [26]:
people_df.loc[-filter_, "email"]  # opposite of filter

2    janedoe@gmail.com
Name: email, dtype: object