In [10]:
people = {
    "first": ["Anakin", "Jane", "John"],
    "last": ["Skywalker", "Doe", "Doe"],
    "email": ["anakinonsky@gmail.com", "janedoe@gmail.com", "johndoe@gmail.com"],
}

import pandas as pd

df = pd.DataFrame(people)

In [11]:
df.sort_values(by="last",ascending=False )

    first       last                  email
0  Anakin  Skywalker  anakinonsky@gmail.com
1    Jane        Doe      janedoe@gmail.com
2    John        Doe      johndoe@gmail.com

In [12]:
df.sort_values(['last', 'first'],)

    first       last                  email
1    Jane        Doe      janedoe@gmail.com
2    John        Doe      johndoe@gmail.com
0  Anakin  Skywalker  anakinonsky@gmail.com

In [13]:
df

    first       last                  email
0  Anakin  Skywalker  anakinonsky@gmail.com
1    Jane        Doe      janedoe@gmail.com
2    John        Doe      johndoe@gmail.com

In [14]:
df.sort_index(ascending=False)

    first       last                  email
2    John        Doe      johndoe@gmail.com
1    Jane        Doe      janedoe@gmail.com
0  Anakin  Skywalker  anakinonsky@gmail.com

In [15]:
df.sort_values(['last', 'first'], ascending=[False, True])

    first       last                  email
0  Anakin  Skywalker  anakinonsky@gmail.com
1    Jane        Doe      janedoe@gmail.com
2    John        Doe      johndoe@gmail.com

In [17]:
df['last'].sort_values()

1          Doe
2          Doe
0    Skywalker
Name: last, dtype: object